@mixin flex-center-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#result-container{
  background-color: plum;
  @include flex-center-column();
  width: 80%;
  height: 40vh;
  .weather-card{
    width: 15.70vw;
    height: 28.73vh;;
    background-color: sandybrown;
  }
  .result-datas{
    width: 20vw;
    height: 20vh;;
  }
}