
html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Raleway',sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#container-app{
  display: block;
  width: 800px;
  height: 100vh;
  margin: auto;
  background-color: antiquewhite;
}
